#centerColumn
{
    background-color: #C0D3C5;
    height: auto;
    margin-top: 61px;
        overflow-y: scroll;
     
    
}


h2
{
    padding-bottom: 10px;
    text-align: center;

}


#profileInfoTable
{
    width: 80%; 
    margin: auto;
    position: relative;
    left:5%;
    top: 200px;

   
} 



#profilePic
{
    position: relative;
    display: block;
    margin: auto;
    width: 50%;
    padding-bottom: 15px;
}
#fileUpload
{
    background-color: #C0D3C5;
    text-align: center;
}


#postButton
{
    border-radius: 45%;
    position: relative;
    left: 44%;
}



#divPosts
{
    border: 5px border-style black;
    background-color: lightgray;
    border-radius: 15px;
}
#postTable
{
    position: relative;
    /*border: 1px solid black;*/
    border-collapse: collapse;
    border-spacing: 20px;
    padding: 15px;
    margin-bottom:auto;
    width: 100%;
    height:100%;
}
@media screen and (min-width: 768px) {
    .modal-dialog {
        left: 50%;
        right: auto;
        width: 624px;
    }
}


