

#RevBookLogo
{
    position: absolute;
    top: 100px;
    left: 37%;
    max-width: 550px;
}

#topHalf
{
    background-color:#C0D3C5;
    position: absolute;
    top: 0px;
    width: 100%;
    height:60%;
    z-index: 0;
}

#bottomHalf
{
    background-color:white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height:40%;
    z-index: 0;
}

#Circle
{
    position: absolute;
    top: 39%;
    left: 38%;
    z-index: 2;
}


#revatureLink
{
    border: 3px solid #f26925;
    border-radius: 28px;
    font-size: 15px;
    padding: 12px 30px;
    background-color: #f26925;
    color: white;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    position: relative;
    top: 78%;
    left: 80%;
}

#RevBookDescription
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 60%;
    color: #6c6c71;
}

#login
{
    background:    #6c6c71;
    border-radius: 28px;
    padding:       12px 30px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal 600 15px/1 "Lato", sans-serif;
    text-align:    center;
    position: relative;
    z-index: 2;
    left: 47%;
    top: 58%;

}

#loginForm, #signupForm
{
   margin: auto 0px;
   text-align: center;
}



#loginButton, #signupButton
{
    margin-bottom: 1px;
    border-radius: 28px;
    padding:       12px 15px;
    color:         #ffffff;
    background:    #6c6c71;
    display:       inline-block;
}


.loginTextfield,.signupTextfield
{
    margin-bottom:5px;
    border-radius: 28px;
    background-color: #ffffe6
}

.loginTextfield.placholder, .signupTextfield.loginTextfield.placholder
{
    text-align: center;
}

a
{
    display: block;
    text-align: center;
}

input
{
    text-align: center;
}

